<li>
  <%= link_to user.email, user %>
  <% if current_user.admin? %>
    | <%= link_to "add to roster", user, method: :add_to_roster %>
    | <%= link_to "delete", user, method: :destroy,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
